*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

/* Header */

header {
  font-family: 'Poppins', sans-serif;
  background: black;
  color: #cf1b1b;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logo {
  display: block;
  font-size: 36px;
  letter-spacing: 8px;
  cursor: pointer;
}

.link-container {
  display: flex;
  gap: 20px;
  list-style: none;
  text-decoration: none;
  color: #cf1b1b;
}

/* Shopping Page */

.product-container {
  margin: 20px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 10px;
}

.product {
  max-width: 75%;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.product>img {
  margin: 10px 0px;
  max-width: 70%;
}

.product>h3, p {
  margin: 5px 5px;
  text-align: center;
}

/* Cart Page */
.cart-card {
  height: 15vh;
  margin: 10px 10px;
  padding: 20px 20px;
  display: flex;
  gap: 20px;
}

.cart-card>img {
  max-width: 100%;
  max-height: 100%;
}

.cart-change {
  display: flex;
  gap: 5px;
}