*, *::before, *::after {
  margin: 0px;
  padding: 0px;
}

/* Shopping Page */

.product-container {
  margin: 20px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 10px;
}

.product {
  max-width: 75%;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.product>img {
  margin: 10px 0px;
  max-width: 70%;
}

.product>h3, p {
  margin: 5px 5px;
  text-align: center;
}

/* Cart Page */
.cart-card {
  height: 15vh;
  margin: 10px 10px;
  padding: 20px 20px;
  display: flex;
  gap: 20px;
}

.cart-card>img {
  max-width: 100%;
  max-height: 100%;
}