*, *::before, *::after {
  margin: 0px;
  padding: 0px;
}

.nav {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: grey;
  color: white;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-links>a {
  padding: 5px;
  color: white;
}